<p class="pl-2">Hi from the product list component!</p>
<table class="table">
    <thead>
            <tr>
                <th>Name:</th>
                <th>Price:</th>
                <th></th>
            </tr>
    </thead>
    <tbody>
        <tr [ngClass]="item.isAvailable ? 'text-success' : 'text-danger'"
            *ngFor="let item of productService.getProducts()">
          <td>{{item.name}}</td>
          <td>{{item.price}}$</td>
          <td><app-product-component [productName]="item.name"></app-product-component></td>
        </tr>
    </tbody>
</table>