<div class="d-flex flex-row pt-2" [ngClass]="sourceProduct.isAvailable ? 'text-success' : 'text-danger'">
    <label class="col" title="{{
        sourceProduct.isAvailable
          ? ''
          : 'The product {sourceProduct.name} is not available'
      }}">{{ sourceProduct.name }}</label>
    <label class="col">{{ sourceProduct.price }}$</label>
    <span class="col">
        <button [ngClass]="sourceProduct.isAvailable ? 'enabled' : 'disabled'"
                class="btn btn-primary"
                (click)="onBuy()">
            Buy
        </button>
    </span>
</div>