<div *ngIf="productList.length > 0">
    <h3>Product List</h3>
    <table class="table">
        <thead>
                <tr>
                    <th>Name:</th>
                    <th>Price:</th>
                    <th></th>
                </tr>
        </thead>
        <tbody>
            <tr [ngClass]="item.isAvailable ? 'text-success' : 'text-danger'"
                *ngFor="let item of productList">
            <td>{{item.name}}</td>
            <td>{{item.price}}$</td>
            <td><app-product-component [productId]="item.id" (product)="onBuyProduct($event)"></app-product-component></td>
            </tr>
        </tbody>
    </table>
</div>