<div class="d-flex flex-row pt-2">
    <label class="col">{{item.product.name}}</label>
    <label class="col">{{item.product.price * item.numberOfProducts}}$</label>
    <input class="col form-control"
           type="number"
           min="0"
           id="productNumber"
           placeholder="enter number of products"
           value={{item.numberOfProducts}}
           (focusout)="onItemFocusout(item.product.id, $event.target.value)"
           oninput="validity.valid||(value='');">
    <span  class="col">
        <button class="btn btn-secondary" (click)="onDelete()">Delete</button>
    </span>
</div>