<div *ngIf="cartListProducts && cartListProducts.value.length; else cart_is_empty">
    <h3 class="pl-2 pt-2 pb-3">Cart List</h3>
    <div class="d-flex flex-row">
        <label class="col font-weight-bold">Name:</label>
        <label class="col font-weight-bold">Price:</label>
        <label class="col font-weight-bold">Counter:</label>
        <label class="col font-weight-bold"></label>
    </div>
    <span *ngFor="let item of cartListProducts.value">
        <app-cart-item-component appHighlight [item]="item" (deletedItemId)="onDeleteProduct($event)"></app-cart-item-component>
    </span>

    <span class="pl-2 pt-2"> The {{cartListService.numberOfProducts}} product(s) cost
        {{cartListService.totalPrice}}$
    </span>
</div>

<ng-template #cart_is_empty>
    <h3 class="text-warning text-center pt-3">Cart is empty...</h3>
</ng-template>